@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    /* Menambahkan warna kustom agar bisa dipakai via class="bg-primer" dll */
    --color-primer: #18345C;
    --color-sekunder: #D3575F;
    --color-tersier: #0099D9;

    /* Font stack Poppins */
    --font-sans: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

@layer base {
    body {
        @apply font-sans text-gray-900 bg-white antialiased;
    }
}

@layer components {
    /* Style Button Global */
    .btn {
        @apply bg-sekunder text-white px-6 py-2 rounded-none font-medium transition-all hover:opacity-90;
    }
}

@layer utilities {
    .pb-safe {
        padding-bottom: env(safe-area-inset-bottom, 1rem);
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}